In [1]:
import numpy as np
import cv2 
import pandas as pd

In [2]:
def click_event(event, x, y, flags, param):
    if event == cv2.EVENT_LBUTTONDOWN:
        cv2.circle(img, (x, y), 3, (0, 255, 0), 3)
        points['green'] += 1
        cv2.imshow('image', img)
    if event == cv2.EVENT_RBUTTONDOWN:
        cv2.circle(img, (x, y), 3, (0, 0, 255), 3)
        points['red'] += 1
        cv2.imshow('image', img)

In [6]:
image_name = 'H1Bb21-1.tif'
image_fp = 'data/' + image_name
img = cv2.imread(image_fp)
cv2.imshow('image', img)

In [7]:
cv2.setMouseCallback('image', click_event)
points = {'image_name': image_name,
          'green': 0, 
          'red': 0}

In [8]:
cv2.waitKey(0)

13

In [ ]:
cv2.destroyWindow('image')

In [83]:
df = pd.DataFrame(points, index=[points['image_name']])

In [84]:
df

                                image_name  green  red
N1Bb43-CORTEX_01.tif  N1Bb43-CORTEX_01.tif      0  124

In [85]:
previous_counts = pd.read_csv('data/manual_cell_counts.csv', index_col='image_name', usecols=['image_name','green', 'red'])
previous_counts['image_name'] = previous_counts.index
all_counts = previous_counts.append(df)
all_counts.to_csv('data/manual_cell_counts.csv')

In [86]:
all_counts

                      green  red            image_name
H1Bb21-1.tif            216   23          H1Bb21-1.tif
1-DHFR_1.tif              1  152          1-DHFR_1.tif
1-GTP_1.tif               1  146           1-GTP_1.tif
2-GCH_8.tif              35   75           2-GCH_8.tif
2-GTP_11.tif             86   37          2-GTP_11.tif
N1Bb43-CORTEX_01.tif      0  124  N1Bb43-CORTEX_01.tif